<div class="background">
  <form>
    <div class="container">
      <div class="row row-cols-3 mx-auto">
        <div class="col">
          <p class="text-center">
            *必填欄位
          </p>
        </div>
        <div class="col">
          <div class="text-center mx-auto mb-4" id="title">
            請修改你的支出
          </div>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">名稱* :</p>
        </div>
        <div class="col">
          <input class="mx-auto">
          </input>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">日期* :</p>
        </div>
        <div class="col">
          <input id="startDate " type="date" />
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">類別* :</p>
        </div>
        <div class="col">
          <select aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="titleName text-center">金額* :</p>
        </div>
        <div class="col">
          <input>
          </input>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-light mt-5">
      <div id="cresteButtom">送出</div>
    </button>
  </form>
</div>