<div class="background">
  <div class="button-group d-flex align-items-center">
    <a href="/user/login" class="btn btn-primary btn-lg" id="login">登入</a>
    <a href="/user/rigster" class="btn btn-primary btn-lg" id="register">註冊</a>
  </div>
</div>