<h1>Reset Password</h1>

<form action="/user/resetPassword" method="post">
  <div class="container">
    <div class="label">
      <label for="verCode">Verification Code</label>
      <input id="verCode" name="verCode" required>
    </div>
    <div class="label">
      <label for="password">New Password</label>
      <input id="password" name="password" required>
    </div>
    <button class="check" type="submit" id="{{randerNum}}">Reset</button>
  </div>
</form>

<script src="/javascripts/resetPassword.js"></script>