<div class="background">
  <div class="card mt-5">
    <h1 class="text-center">Rigster</h1>
    <form action="/user/rigster" method="post">
      <div class="mt-5">
        <label for="name" class="rigster">name</label>
        <div>
          <input id="name" type="text" name="name">
        </div>
      </div>
      <div>
        <label for="password" class="rigster">Password</label>
        <div>
          <input id="password" type="password" name="password">
        </div>
      </div>
      <div>
        <label for="confirmPassword" class="rigster">Confirm Password</label>
        <div>
          <input id="confirmPassword" name="confirmPassword" type="password">
        </div>
      </div>
      <div class="mt-4">
        <button type="submit">Rigster</button>
      </div>
    </form>
  </div>
</div>