<h1>Rigster</h1>

<form action="/user/rigster" method="post">
  <div class="container">
    <div class="label">
      <label for="name">Name</label>
      <input id="name" name="name">
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input id="password" name="password">
    </div>
    <div class="confirm-password">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit">Rigster</button>
  </div>
</form>