<div>
  <h1>Rigster</h1>
  {{> message}}
  <form action="/user/rigster" method="post">
    <div class="container">
      <div class="name">
        <label for="name">Name</label>
        <input id="name" name="name" value="{{userInfo.name}}">
      </div>
      <div class="email">
        <label for="email">Email</label>
        <input id="email" name="email" value="{{userInfo.email}}">
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" d="password" name="password">
      </div>
      <div class="confirm-password">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
      </div>
      <button type="submit">Rigster</button>
    </div>
  </form>
</div>